<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >


<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1"><link rel="stylesheet" type="text/css" href="https://www.cdph.ca.gov/Style%20Library/en-us/Core%20Styles/Custom.css" /><link rel="stylesheet" type="text/css" href="https://www.cdph.ca.gov/_layouts/dhs/sitecomments/captcha.css" /><title>
	User Comments or Suggestions
</title></head>


<body>
    <form name="form1" method="post" action="default.aspx.html" id="form1">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="m03oTKzbY4ghQojQJwCMagaW/uKiiTdQXFuuqXEvrl1w9ZrzNIubjYX25bX1WFm2XyZf8EUA4fPB2L6dmKDy9KZyLXMkBAyXlKR6jwT+G7h9bGupEixnM3td/eN9P6rLg9JB4yG8zO9+jSR2Uo3ZxQrn3768odKPtNKcs1pFrVKf/JXDAkd1aZdsMDAgilbDpCKyH9ozGkBpFKASl7WFxTk+RN6v5lr+nvwsj2HYXH2Ex72BJioXTG2B+p+JuN5ltMnsXQ==" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="EDD18F6C" />
<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="" />
<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="10aYb1WYWPoiuAjxfSkk+d765BkaXW9YqDKnENORAPcfH1iumBBwCOTlJpqSO7g5R/LlVuno4k5dgL8X73qiNRs4NB6P8M5oxvEK3zoPZHmCylRTsH9tfj4JZd4JEimf+KIGEA==" />
    <div>
    	<a target="_blank" href="http://ca.gov/">
    	<img src="https://www.cdph.ca.gov/Style%20Library/images/ca_logo.jpg" alt="State of California Logo" /></a>
		<a href="https://www.cdph.ca.gov/">
	    <img src="https://www.cdph.ca.gov/Style%20Library/images/heading_department.gif" alt="Welcome to the State of California" /></a>
        <br />
        <br />
    </div>
<hr  class="HorizontalLine" />
<div class="CommentsPage">
        
<br />

        <div id="panelHome">
	
        
<div id="comments_headertext">
	Email provides no mechanism for ensuring the confidentiality or privacy of 
information contained within a message in transit.
Therefore the sender of an email message assumes responsibility for including 
confidential or private data when utilizing this communication medium. The sender should exercise caution when composing a 
message to exclude confidential or private information such as names, street addresses, phone numbers, social security numbers, license 
numbers, other personal identification numbers, etc.
If the sender wishes to contact the department please 
see our contact listing for our mailing address or to contact one of our programs directly to discuss any issues that may require 
the inclusion of private or confidential data.

We are interested in hearing from you and appreciate your input. Please fill out 
the fields below and press the &quot;Submit&quot; button to e-mail us your comments/suggestions. The information you enter in our comments is not 
secured in transit. Please do not enter information that would be considered sensitive, confidential or private.
</div>
<br />
            <br />
            
<div id="comments_errortext">
            <br />
</div>                
            &nbsp;
<div id="comments_content">
	Optionally, enter your email address to receive any feedback on your comments.<br />
	<span id="Label1" class="label" style="display:inline-block;">Your Email Address</span>
	<input name="txtEmailAddress" type="text" maxlength="60" id="txtEmailAddress" class="input" />
	&nbsp; &nbsp;
    &nbsp;<br />
	<br />
	Optionally, enter a subject for your comments.<br />
	<span id="Label2" class="label" style="display:inline-block;">Subject</span>
	<input name="txtSubject" type="text" maxlength="60" id="txtSubject" class="input" />
	<br />
	<br />
	
	<span id="Label3" class="label" style="display:inline-block;">Comments  (required) *</span>
    &nbsp;<br />
	<textarea name="txtData" rows="2" cols="20" id="txtData" class="input"></textarea>
</div>
            &nbsp; &nbsp;<br />
            <div class="cssWrapperDiv" id="DhcsWrapperDivID">
		<span id="SecureCodeBox1_DhcsSecureHelpLabelID" class="cssHelpText">If you are unable to read the security image on this page dial 7-1-1 and ask the Relay California agent to assist you.</span><img id="SecureCodeBox1_DhcsSecureImageID" class="cssSecureImage" src="https://www.cdph.ca.gov/_layouts/dhs/sitecomments/default.aspx?DhcsCAPTCHA=true" border="0" /><span id="SecureCodeBox1_DhcsSecureCodeLabelID" class="cssSecureCodeLabel">Enter the security code above</span><input name="SecureCodeBox1$DhcsSecureTextBoxID" type="text" maxlength="5" id="SecureCodeBox1_DhcsSecureTextBoxID" class="cssSecureCodeTextBox" />&nbsp;
	</div>
            <br />
        <br />
        <input type="submit" name="cmdCancel" value="Cancel" id="cmdCancel" />
        &nbsp; &nbsp;
        <input type="submit" name="cmdTest" value="Submit" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;cmdTest&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="cmdTest" />
            <br />
            <br />
        
</div>
            
  <div id="comments_sent" >
            <br />
            
            &nbsp;</div>
 </div>       
        
    </form>
</body>
</html>
